body {
  line-height: 1;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.65;
  background-color: #ffffff;
  color: #000000;
  -webkit-text-size-adjust: none;
  -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
  body {
    min-width: 320px;
  }
}



@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
}

/* body {
  -webkit-text-size-adjust: none;
}

body {
  -ms-overflow-style: scrollbar;
} */

/* body {
  background: #ffffff;
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
} */

/* body {
  background-color: #ffffff;
  color: #000000;
} */

/* body, input, select, textarea {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.65;
} */